:root{
	--dropeditor: scale(1);
}
.app-events-list{
	border-radius: 5px;
	margin-top: .5rem;
	position: relative;
	display: flex;
	background-color: #f9f9f9;
}
.app-events-apply-button{
	position: absolute;
	top: 1rem;
	right: 1rem;
	transform: scale(.8);
	transform-origin: top right;
}
.app-events-preview{
	width: 70px;
	border: .5rem solid #f9f9f9;
	border-radius: 1rem;
	background-color: #f9f9f9;
	height: 70px;
	background-position: center;
	background-size: contain;
}
.app-events-info{
	padding: 1rem;
}
.app-events-preview + .app-events-info{
	padding-left: .5rem;
}
.drop-editor{
	transform: var(--dropeditor)  !important;
}
.cg-grid {
	max-width: calc(100% + 4px);
	position: relative;
	height: auto;
	transform-origin: 0 0;
	overflow: hidden;
	margin-left: -4px;
	margin-right: -4px;
}
.cg-grid-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition: linear all .2s;
	background: rgba(0,0,0,0.1);
}
.cg-grid-avatar{
	background-color: rgb(0,0,0,0.2);
	height: 32px;
	width: 32px;
	border-radius: 50%;
	color: white;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
}
.cg-grid-image-options{
	background: white !important;
    position: absolute;
	left: 1rem;
	top: 1rem;
	opacity: 0;
	pointer-events: none;
	transition: linear all .2s;
	z-index: 3;
}

.cg-grid-image:hover .cg-grid-image-options{
	display: block;
	opacity: 1;
	pointer-events: auto;
}
.cg-grid-image-options i{
	color: var(--primary)
}
.cg-grid-wrapper{
	position: relative;
	overflow-y: hidden;
}
.cg-grid-wrapper-img {
	position: absolute;
	height: 300px;
	padding: 4px 0 0 4px;
	top: 0;
	left: 0;
}
.cg-grid-wrapper-img > div {
	height: 100%;
	overflow: hidden;
}
.cg-grid-wrapper-img.cg-grid-image-end-stack .cg-grid-artwork-content{
	height: inherit;
}
.cg-grid-wrapper-img.cg-grid-image-end-stack img.cg-grid-img{
	height: inherit;
	object-fit: cover;
}
.cg-grid-wrapper-img.cg-grid-image-hide-info .cg-grid-image:hover .cg-grid-artwork-name{
	opacity: 0;
}
.cg-grid-info{
	padding: .8rem 1rem;
	display: flex;
	align-items: center;
}
.cg-grid-autor{
	padding-left: 1rem;
	color: white;
	transform: translate(-400px);
	transition: cubic-bezier(0.42, 0, 0.57, 1.4) all .4s;
	cursor: default;
}
.grid-images{
	color: white;
	margin-top: -.2rem;
	display: block;
	font-size: .8rem;
}
.cg-grid-img-restricted{
	background: var(--primary);
}
.cg-grid-img-restricted-indicator{
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: Calibri;
	border-radius: 50%;
	z-index: 2;
	font-size: 1.1rem;
	letter-spacing: 4px;
}
.cg-grid-img-restricted .cg-grid-img{
	filter: blur(8px);
	transform: scale(1.2);
	opacity: .9
}

.feed-users{
	display: flex;
	padding: 1rem;
}
.feed-users-wrapper-item{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background: lightgray;
	position: relative;
}
.feed-users-item{
	margin-right: 1rem;
	position: relative;
}
.feed-users-wrapper-item > div:nth-child(1){
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	animation-name: rotate;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	border-radius: 50%;
	overflow: hidden;
}

slider-feed-nartwork-container{
	display: flex;
	overflow: hidden;
}
slider-feed-nartwork-container, .slider-feed-nartwork-container{
	width: 100%;
	overflow: hidden;
	position: relative;
}
slider-feed-nartwork-container > div, .slider-feed-nartwork-container > div{
	display: flex;
	overflow: hidden;
	margin: -2px -2px 0;
}
slider-feed-nartwork, .slider-feed-nartwork{
	min-height: 240px;
	min-width: 240px;
	height: 240px;
	width: 240px;
	padding: 2px;
	position: relative;
}
.slider-feed-nartwork img{
	width: 100%;
	height: 100%;
	background-color: lightgray;
}
.slider-feed-nartwork-heart{
	position: absolute;
	bottom: .5rem;
	right: .5rem;
	cursor: pointer;
	transition: linear all .2s;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-feed-nartwork-heart i{

	font-size: 2rem;
}
.slider-feed-nartwork-heart:hover{
	color: var(--red);
}
.slider-feed-nartwork-heart.feed-heart-active{
	color: var(--red);
}

.slider-feed-nartwork-date{
	position: absolute;
	left: 1rem;
	bottom: .5rem;
	font-size: .8rem;
}


.upload-editor{
	background: rgba(0,0,0,0.6);
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.upload-editor form{
	padding: 3rem 0;
	width: 100%;
	background: white;
}
.upload-editor form > div{
	width: 100%;
	padding: 2rem;
}
.upload-editor-wrapper-description{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.upload-editor-description{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	max-width: 500px;
	width: 100%;
	background: white;
}
.upload-editor-file{
	position: fixed;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.upload-editor-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: white;
}
.upload-editor-close:hover{
	background: white;
}
.upload-editor-close i{
	color: var(--primary)
}
.upload-editor-firts-upload{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	transition: linear .2s all;
	position: relative;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.upload-editor-firts-upload:hover::before{
	transform: scale(1.2);
}
.upload-editor-firts-upload::before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 10px;
	position: absolute;
	transition: linear all .2s;
	border: 3px solid white;
}
.upload-editor-buttons-upload{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
}
.upload-editor-preview{
	position: relative;
	color: white;
	background: #949494;
	height: 240px;
	width: 100%;
	overflow: hidden;

	border: 1rem solid #949494;
}
.upload-editor-preview img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.upload-editor-image-blur{
	object-fit: cover;
	opacity: .4
}
.upload-editor-image-view{
	position: absolute;
	top: 0;
	left: 0;
	object-fit: contain;
}
.upload-editor-preview span{
	z-index: 3;
	font-size: 3rem;
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 100%;
	text-align: center;
}
.upload-editor-wrapper-file{
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}
.upload-editor-text{
	width: 100%;
	font-size: 1.2rem;
	color: gray;
	background-color: white;
	height: 4rem;
	display: flex;
	align-items: center;
	padding: 0 2rem;
}
.upload-editor-cropper{
	position: relative;
	border: solid 1rem #949494;
	max-height: 700px;
	background-color: #949494;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.upload-description-add .upload-editor-file{
	opacity: 0;
	pointer-events: none;
}
.upload-editor-text-details{
	font-size: 1.2rem;
	display: block;
	height: 4rem;
	padding: 0 2rem;
	display: flex;
	align-items: center;
}
.upload-editor-after-finish{
	padding: 2rem 0;
}
.cg-grid-adsense{
	background: #fbfbfb;
	border-radius: 10px;
	overflow: hidden;
}
.cg-grid-artwork-content{
	position: relative;
	overflow: hidden;
	height: inherit;
}
.cg-grid-artwork-curtain{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(45deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .1));
	z-index: 2;
	transition: linear all .2s;
	opacity: 0;
}

.cg-grid-artwork-name{
	position: absolute;
	bottom: .5rem;
	left: .5rem;
	z-index: 3;
	text-overflow: ellipsis;
	transition: linear all .2s;
	color: white;
}
.cg-grid-image:hover .cg-grid-artwork-curtain{
	opacity: 1;
}
.cg-grid-avatar{
	opacity: 0;
	transform: scale(0);
	transition: linear all .2s;

}
.cg-grid-image-mobile .cg-grid-avatar{
	opacity: 1;
	transform: scale(1);
}
.cg-grid-image:hover .cg-grid-autor{
	transform: translate(0%);
}
.cg-grid-image:hover .cg-grid-avatar{
	opacity: 1;
	transition: cubic-bezier(0.42, 0, 0.57, 1.4) all .2s;

	transition-delay: .3s;
	transform: scale(1);
}
.cg-grid-artwork-content img{
	transition: linear all .2s
}

.cg-grid-artwork-interaction{
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	z-index: 3;

}
.cg-grid-artwork-interaction a{
	color: white;
	cursor: pointer;
	transition: linear all .2s;
	display: inline-block;
}
.cg-grid-artwork-interaction-like.cg-artwork-like{
	color: var(--red);
}
.cg-grid-artwork-interaction-like:hover{
	transform: scale(1.2);
	color: var(--red);
	transition: cubic-bezier(0.42, 0, 0.57, 5) all .4s;

}
.upload-editor-text-waiting{
	display: block;
	width: 100%;
	text-align: center;
	color: white;
}
@media (max-width: 992px) {
	.upload-editor-description{
		flex-direction: column;
		max-width: 400px;
		border-radius: 0;
	}
	.upload-editor form{
		height: auto;
		width: auto;
		padding: 4rem;
	}
}
@media (max-width: 600px) {

	.upload-editor-close{
		background: rgba(0, 0, 0, 0.1);
	}
	.upload-editor-wrapper-file{
		border-radius: 0;
		height: 100%;
	}
	.upload-editor-wrapper-description{
		overflow: hidden;
	}
	.upload-editor form{
		padding: 1rem;
		flex: 1;
	}
	.upload-editor-preview{
		width: 100%;
		height: 360px;
	}
	.upload-editor-preview img{
		height: 100%;
	}
	.upload-editor-description{
		height: 100%;
		width: 100%;
	}
	.upload-editor-cropper{
		height: calc(100% - 112px);
	}

	.upload-editor{
		align-items: flex-start;
	}


	.upload-editor-file{
		max-height: none;
	}

	.cg-grid-info{
		padding: .5rem;
	}
	.cg-grid-avatar{
		width: 24px;
		height: 24px;
	}
	.cg-grid-autor{
		transform: scale(.8);
		transform-origin: 0 center;
	}
	.cg-grid-image-mobile .cg-grid-autor{
		display: none;
	}

}
