
.cg-grid {
	margin: 0 auto;
	width: 100%;
	position: relative;
	height: 100%;
}
.cg-grid-img {
	width: 100%;
	border-radius: 10px;
	height: auto;
	display: block;
	transition: linear all .2s;
	background: lightgray;
}
.cg-grid-avatar{
	background: var(--primary);
	height: 32px;
	width: 32px;
	border-radius: 50%;
	color: white;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.cg-grid-image-options{
	background: white !important;
    position: absolute;
	left: 1rem;
	top: 1rem;
	opacity: 0;
	pointer-events: none;
	transition: linear all .2s;
}

.cg-grid-image:hover .cg-grid-image-options{
	display: block;
	opacity: 1;
	pointer-events: auto;
}
.cg-grid-image-options i{
	color: var(--primary)
}
.cg-grid-wrapper-img {
	position: absolute;
	float: left;
	padding: 5px;
	transition: all 200ms ease-in-out;
	color: gray;
}

.cg-grid-info{
	padding: .8rem 1rem;
	display: flex;
	align-items: center;
}
.cg-grid-autor{
	padding-left: 1rem;
}
.grid-images:hover{
	color: var(--primary);
	cursor: pointer;
	text-decoration: underline;
}
.upload-editor{
	background: #1e1e2b;
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}
.upload-editor .vue-advanced-cropper{
	max-height: 600px;
}
.upload-editor form{
	height: 460px;
	padding: 2rem;
	width: 400px;
}
.upload-editor-wrapper-description{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1e1e2b;
}
.upload-editor-description{
	background: white;
	display: flex;
	border-radius: 10px;
	overflow: hidden;
}
.upload-editor-file{
	width: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.upload-editor-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: #ffffff1a;
}
.upload-editor-close:hover{
	background: #ffffff1f;
}
.upload-editor-close i{

	color: white
}
.upload-editor-firts-upload{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	transition: linear .2s all;
	position: relative;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.upload-editor-firts-upload:hover::before{
	transform: scale(1.2);
}
.upload-editor-firts-upload::before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 10px;
	position: absolute;
	transition: linear all .2s;
	border: 3px solid white;
}
.upload-editor-buttons-upload{
	display: flex;
	align-items: center;
	justify-content: center;
}
.upload-editor-preview{
	position: relative;
	color: white
}
.upload-editor-preview canvas{
	width: 100%
}
.upload-editor-preview span{
	z-index: 3;
	font-size: 3rem;
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 100%;
	text-align: center;
}
.upload-editor-wrapper-file{
	width: 100%;
	padding: 0 1rem;
}
@media (max-width: 992px) {
	.upload-editor-description{
		flex-direction: column;
		max-width: 400px;
		border-radius: 0;
	}
	.upload-editor form{
		height: auto;
		width: auto;
		padding: 4rem 2rem 2rem;
	}
}
@media (max-width: 600px) {

	.upload-editor{
		align-items: flex-start;
	}
	.upload-editor .vue-advanced-cropper{
		min-height: 500px;
		width: 100%;
	}
	.upload-editor-file{
		max-height: none;
	}

	.cg-grid-info{
		padding: 0 .5rem;
	}
	.cg-grid-avatar{
		width: 24px;
		height: 24px;
	}
	.cg-grid-autor{
		transform: scale(.8);
		transform-origin: 0 center;
	}
}
