
.cg-grid {
	margin: 0 auto;
	width: 100%;
	position: relative;
	height: 100%;
}
.cg-grid-img {
	width: 100%;
	border-radius: 10px;
	height: auto;
	display: block;
	transition: linear all .2s;
	background: lightgray;
}
.cg-grid-avatar{
	background: var(--primary);
	height: 32px;
	width: 32px;
	border-radius: 50%;
	color: white;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.cg-grid-image-options{
	background: white !important;
    position: absolute;
	left: 1rem;
	top: 1rem;
	opacity: 0;
	pointer-events: none;
	transition: linear all .2s;
	z-index: 3;
}

.cg-grid-image:hover .cg-grid-image-options{
	display: block;
	opacity: 1;
	pointer-events: auto;
}
.cg-grid-image-options i{
	color: var(--primary)
}
.cg-grid-wrapper-img {
	position: absolute;
	float: left;
	padding: 5px;
}

.cg-grid-info{
	padding: .8rem 1rem;
	display: flex;
	align-items: center;
}
.cg-grid-autor{
	padding-left: 1rem;
}
.grid-images:hover{
	color: var(--primary);
	cursor: pointer;
	text-decoration: underline;
}
.upload-editor{
	background: #1e1e2b;
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.upload-editor form{
	height: 460px;
	width: 400px;
	background: white;
}
.upload-editor form > div{
	width: 100%;
	max-width: 300px;
}
.upload-editor-wrapper-description{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1e1e2b;
}
.upload-editor-description{
	display: flex;
	border-radius: 10px;
	overflow: hidden;
}
.upload-editor-file{
	position: fixed;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.upload-editor-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: #ffffff1a;
}
.upload-editor-close:hover{
	background: #ffffff1f;
}
.upload-editor-close i{

	color: white
}
.upload-editor-firts-upload{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	transition: linear .2s all;
	position: relative;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.upload-editor-firts-upload:hover::before{
	transform: scale(1.2);
}
.upload-editor-firts-upload::before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 10px;
	position: absolute;
	transition: linear all .2s;
	border: 3px solid white;
}
.upload-editor-buttons-upload{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
}
.upload-editor-preview{
	position: relative;
	color: white;
	background: black;
	height: 460px;
	width: 460px;
}
.upload-editor-preview img{
	width: 100%;
}
.upload-editor-image-blur{
	object-fit: cover;
	opacity: .4
}
.upload-editor-image-view{
	position: absolute;
	top: 0;
	left: 0;
	object-fit: contain;
}
.upload-editor-preview span{
	z-index: 3;
	font-size: 3rem;
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 100%;
	text-align: center;
}
.upload-editor-wrapper-file{
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.upload-editor-cropper{
	padding: 1rem;
	max-height: 600px;
}
.cg-grid-adsense{
	background: #fbfbfb;
	border-radius: 10px;
	overflow: hidden;
}
.cg-grid-artwork-content{
	position: relative;
}
.cg-grid-artwork-content::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(360deg, #0000005e, transparent);
	border-radius: 10px;
	z-index: 2;
	transition: linear all .2s
}
.cg-grid-artwork-name{
	position: absolute;
	bottom: .5rem;
	left: .5rem;
	z-index: 3;
	text-shadow: -0 0 3px black;
	text-overflow: ellipsis;
	transition: linear all .2s;
	color: white;
}
.cg-grid-image:hover .cg-grid-artwork-content::after, .cg-grid-image:hover .cg-grid-artwork-name{
	opacity: 0;
}
.cg-grid-artwork-content{
	overflow: hidden;
	border-radius: 10px;
}
.cg-grid-artwork-content img{
	transition: linear all .2s
}
.cg-grid-image:hover .cg-grid-artwork-content img{
	transform: scale(1.025);
}
@media (max-width: 992px) {
	.upload-editor-description{
		flex-direction: column;
		max-width: 400px;
		border-radius: 0;
	}
	.upload-editor form{
		height: auto;
		width: auto;
		padding: 4rem;
	}
}
@media (max-width: 600px) {
	.upload-editor-wrapper-description{
		overflow: hidden;
	}
	.upload-editor form{
		padding: 1rem;
		flex: 1;
	}
	.upload-editor-preview{
		max-width: 360px;
		width: 100%;
		height: 360px;
	}
	.upload-editor-preview img{
		height: 100%;
	}
	.upload-editor-description{
		height: 100%;
		width: 100%;
	}
	.upload-editor-cropper{
		height: calc(100% - 56px);
		padding-top: 5rem;
	}
	.upload-editor-cropper .vue-advanced-cropper{
		position: fixed !important;
		top: 5rem;
		bottom: 56px;
		height: auto;
		width: auto;
		left: 1rem;
		right: 1rem;
	}
	.upload-editor{
		align-items: flex-start;
	}
	.upload-editor-wrapper-file{
		height: 100%;
	}

	.upload-editor-file{
		max-height: none;
	}

	.cg-grid-info{
		padding: 0 .5rem;
	}
	.cg-grid-avatar{
		width: 24px;
		height: 24px;
	}
	.cg-grid-autor{
		transform: scale(.8);
		transform-origin: 0 center;
	}

}
