
	#app-body{
		height: 100vh;
	}


	#app-content{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.fixed-action-btn > a{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.fixed-action-btn{
		display: none;
	}
	@media (max-width: 600px) {

		.fixed-action-btn{
			display: block;
		}
	}

	.fil0 {fill: white}
